@import './billboard/billboard';
@import './button/button';
@import './information-block/information-block';
@import './link/link';
@import './search-form/search-form';
@import './sections/footer/footer';
@import './sections/header/__progress/header__progress';
@import './sections/header/header-main/header-main';
@import './sections/header/header-menu/header-menu';
@import './sections/main/main';
@import './text/text';
@import './title/title';

* {
	margin: 0;
	padding: 0;
}


.container {
	width: 960px;
	margin: 0 auto;
	@media screen and (max-width: 992px) {
		max-width: 768px;
	}
	@media screen and (max-width: 768px) {
		max-width: 576px;
	}
	@media screen and (max-width: 580px) {
		max-width: 95%;
	}
}