{
  "env": {
    "es6": true,
    "es2021": true,
    "node": true
  },
  "extends": "airbnb-base",
  "root": true,
  "plugins": ["@babel"],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": ["error", "tab"]
  }
}
