.progress {


	background-color: var(--primary);
	height: 2px;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.container {
	margin: 0px 150px;
}


header {
	display: flex;
	margin: 0px 150px;
	align-items: center;
	justify-content: space-between;
}

header .wrapper {
	border: solid 1px var(--primary2);
}

.inputSearch {
	width: 154px;
	height: 28px;
	border: none;
	outline: none;

}

.btnSearch {
	width: 45px;
	height: 33px;
	background-color: var(--primary);
	margin: 0;
	padding: 0;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

.btnSearch:hover {
	background-color: var(--primary2);
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin: 16px 0 0 0;
	padding: 0;
}

.navigation li {
	list-style-type: none;
	width: 123px;
	height: 47px;
}

.navigationLink {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--black);
	text-decoration: none;
	width: 123px;
	height: 47px;
	display: flex;
	align-items: center;
	justify-content: center;


}

.active {
	background-color: var(--yellow);
	color: var(--white);
	font-weight: 700;
}

.img {
	display: block;
	width: 961px;
	height: 332px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Mountains-and-hills-julian-alps.png);
	margin: 15px auto;
}


.img .wrapper {
	width: 509px;
	margin: 0 0 0 44px;
}

.imgText {
	width: 451px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--white);
}



h1 {

	font-weight: 400;
	font-size: 64px;
	line-height: 75px;
	margin: 0;
	padding: 19px 0 0 0;
	color: var(--yellow);
}

.imgBtn {
	text-transform: uppercase;
	width: 125px;
	height: 34px;
	background-color: var(--primary2);
	border: none;
	color: var(--white);
	cursor: pointer;
}

.imgBtn:hover {
	background-color: var(--primary);
}

.posts {
	display: flex;
	width: 940px;
	margin: 0 auto;
	justify-content: start;
	align-items: center;
	margin-top: 33px;
	flex-wrap: wrap;

}

.posts .post:nth-child(odd) {
	margin-right: 20px;
}

.post {
	display: flex;
	width: 450px;
	justify-content: space-between;
	flex-direction: column;
	padding-bottom: 20px;

}

.postTitle {
	display: flex;
}


h2 {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--black);
	display: inline-block;
	margin: 0 6px 0 4px;
	padding: 0;
	text-transform: uppercase;
}

.square {
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	display: inline-block;
	border: none;
}

.rectangle {
	margin: 0;
	padding: 0;
	height: 16px;
	display: inline-block;
	flex-grow: 2;
	border: none;
}

.bcpuprle {
	background-color: var(--primary);
}

.bcyellow {
	background-color: var(--yellow);
}

.postFilling {
	display: flex;
	margin-top: 13px;
}

.postImg {
	width: 142px;
	height: 141px;
	margin-right: 18px;
}

.postText {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: justify;
	color: var(--black);
	margin: 3px 0 0 0;
	padding: 0;
}

.postLink {
	font-weight: 400;
	font-size: 12px;
	color: var(--black);
	margin-top: 21px;
}

.clients {
	margin: 0 auto;
	width: 960px;
}

.clientTitle {
	width: 940px;
	text-align: center;
	margin: 0 auto;
}

.clientH2 {
	display: inline-block;
	width: 100%;
	margin: 0;
}

.clientH2::before {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: var(--primary);
	content: "";
	margin-right: 5px;
	vertical-align: bottom;
}

.clientH2::after {
	display: inline-block;
	height: 16px;
	width: 90%;
	background: var(--primary);
	content: "";
	margin-left: 5px;
	vertical-align: bottom;
}

.clients .wrapper {
	margin-top: 16px;
	width: 960px;
	height: 131px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.clients .wrapper img {
	height: max-content;
	width: max-content;
}

footer {
	background-color: var(--primary2);
	padding: 49px 0;
	margin: 0;
}

.titleFooter {
	color: var(--white);
	margin: 0 auto;
	display: block;
	text-align: center;
}

:root {
	--black: #000;
	--white: white;
	--primary: #9B51E0;
	--primary2: #6D3D99;
	--yellow: #FFC740;
}