.header-menu {
	margin-top: 16px;
}

.header-menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu__item {
	list-style-type: none;
}

.header-menu__title{
	text-decoration: none;
	width: 123px;
	height: 47px;
}

@media (max-width: 1024px) {
	.header-menu__title {
		width: 100px;
		height: 40px;
	}
}

