.main {
	margin-top: 16px;
}

.clients {
	margin-top: 33px;
}

.clients-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.clients-list__image:hover{
	animation: image_rotate 2s both;
}

@keyframes image_rotate {
	
	50% {
		transform:  rotate(359deg)
	}
	100%{
		transform: scale(1.2);
	}
}


@media (max-width: 960px) {
	.clients-list__image {
		width: 100%;
	}
}